body {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    max-width: 960px;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.inputs div {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0px;
}

input[type="text"],
input[type="number"] {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.slider-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-slider {
        height: 84vh;
        width: 22px;
}

.noUi-connect {
    background: #0151AE;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

    .inputs,
    .slider-container {
        flex-basis: auto;
    }

    .inputs {
        padding-right: 10px;
    }
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}