body {
    font-family: 'Futura', 'Poppins', Arial, sans-serif;
    font-size: 31px;
    height: 100%;
    margin: 2vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed;
    overflow: hidden;
}

#inputs {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-box {
    display: block;
    width: 64%;
    font-size: 42px;
    text-align: center;
}

#slider {
    width: 22px;
    height: 87vh;
    flex-grow: 1;
}

.noUi-tooltip {
    font-size: 21px;
}

.noUi-connect {
    background: #0151AE;
}

/* 
    Hide arrows on numnber fields for now.
*/

/* Chrome. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}