body {
    font-family: 'Futura', 'Poppins', Arial, sans-serif;
    font-size: 21px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    display: flex;
    margin: 5vh;
    position: fixed
}

.text-box {
    display: block;
    width: 50%;
    font-size: 21px;
}

#ingredients {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13vh
}

#slider {
    width: 21px;
    height: 84vh;
}

.noUi-tooltip {
    font-size: 21px;
}

.noUi-connect {
    background: #0151AE;
}

/* 
    Hide arrows on numnber fields for now.
*/

/* Chrome. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}